<nav class="navbar" ng-controller="NavbarCtrl">
    <a href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</a>

    <ul>
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="share">Share</a></li>
        <li ui-sref-active="active"><a ui-sref="formIsolate">FormIsolate</a></li>
        <li ui-sref-active="active"><a ui-sref="sidebar">sidebar</a></li>
    </ul>

    <ul>
        <li><span>Current date: {{ date | date:'yyyy-MM-dd' }}</span></li>
    </ul>
</nav>
